*
    {
      margin: 0px;
      padding: 0px;
      color: white;
    }
    
    .navbar
    {
      height: 140px;
      background-color: darkblue;
    }
   
    #a
    {
      margin-right: 60px;
      font-size: 40px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 1px 2px 3px black;
    }
    
    .a1
    {
      text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    .a2
    {
      text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    .a3
    {
      text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    .a4
    {
       text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    .a5
    {
       text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    .a6
    {
       text-decoration: none;
      margin-right: 40px;  
      padding: 0px;
    }
    
    #button
    {
      background-color: limegreen;
      color: white;
      font-style: 40px;
      padding: 15px;
      border-radius: 5px;
      margin-left: 20px;
      box-shadow: 2px 4px 4px black;
    }
    
   .button
   {
      background-color: limegreen;
      color: white;
      font-size: 13px;
      padding: 10px;
      border-radius: 2px;
      margin-top: 14px;
      box-shadow: 2px 3px 3px black;
   }
   
   .div
   {
     margin-top: 40px;
     margin-left: 40px;
   }
   
   .img
   {
     margin-right: 70px;
     margin-bottom: 0px;
   }
   
   form
   {
     margin-top: 220px;
     text-align: center;
   }
   
   .A
   {
     height: 170px;
     background-color: deepskyblue;
     margin-top: 50px;
   }
   
   .B
   {
     height: 170px;
     background-color: deepskyblue;
   }
   
   @media only screen and (max-width: 768px)
   {
     [class*="col-"]{
       width: 100%;
   }
   }

   [class*="col-"]{
     float: left;
     padding: 15px;
   }
   .h2
   {
     color: black; 
     font-size: 40px; 
     font-weight: 400; 
     margin-left: 350px;
     margin-top: 20px;
     font-family: 'baloo bhai',serif;
     font-style: oblique;
     text-shadow: 1px 2px 3px red;
   }
   
   .BUTTONS
   {
     padding: 17px;
     margin-left: 410px;
     color: limegreen;
     border: 2px solid limegreen;
     margin-top: 10px;
     border-radius: 3px;
     background-color: lightyellow;
   }
   
   .company
   {
     height: 600px;
     background-color: gainsboro;
     margin-top: 20px;
   }
   
   footer
   {
     background-color: dimgrey;
     height: 780px;
     text-align: center;
     margin-top: 20px;
   }
   